<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejtdevelopment.receiver2test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Receiver2test">
        <receiver
            android:name=".HighestPriorityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter
                android:priority="2">
            <action android:name="PRIORITY_BROADCASTING"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MediumPriorityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter
                android:priority="1">
                <action android:name="PRIORITY_BROADCASTING"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".LowestPriorityReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="EXPLICIT_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>